body {
    background-color: #191919;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b60a40;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: black;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color:#b60a40 ;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.search-container button {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33% - 20px);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 0;
}
input[type=submit] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: navy;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: center;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
